html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  padding-bottom: 25px;
  flex-direction: column;
  color: white;
}

.background {
  background-color: black;
  color: white;
  height: 100vh;
}

.white-text{
  color: white;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.ant-checkbox + span{
  color: white;
}

.item{
  margin: 5px;
  color: white;
}

img {
  cursor: crosshair;
  z-index: 1;
}

.image-container{
  position: relative;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  z-index: 2;
  padding: 20px;
}
